.App {
    overflow: scroll;
}

.bg {
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    width: 600px;
    height: 833px;
}

.bg-completed {
    background-image: url('../img/bg-com.png');
    background-repeat: no-repeat;
    width: 419px;
    height: 599px;
}

.complete-bottom {
    width: 78%;
    margin-left: 25px;
    margin-top: -14px;
    border-radius: 0px 0px 10px 10px;
    height: 317px;
}

.dob-input {
    width: 47%;
    text-transform: uppercase;
}

@media only screen and (max-width: 1000px) {
    .dob-input {
        width: 81%;
    }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.box-minh {
    min-height: 500px;
}

.blue {
    color: #4176FF;
}

//Admin Page 
.shape {
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 4px -2px #888;
    z-index: 100;
    position: fixed;
}

.rec {
    width: 81%;
    position: absolute;
    height: 76px;
    background-color: white;
    top: 0px;
    right: 0px;
    box-shadow: 3px 3px #E5E5E5;
}

.admin-grey {
    background-color: #E5E5E5;
    height: 100vh;
    background-image: url('../img/menu.png');
    position: relative;
}

.admin-footer {
    border-top: solid 3px #E5E5E5;
}

html,
body {
    height: 100%;
    margin: 0;
}

.admin-content {
    width: 79%;
    position: absolute;
    top: 95px;
    right: 0px;
    min-height: 300px;
}

th {
    font-weight: normal;
}

.bb-hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: #A1A1A1;
    height: 1px;
}

//Completed Page 
.complete {
    background-image: url('../img/completed.png');
    background-repeat: no-repeat;
    width: 90%;
    background-position: center;
    min-height: 280px;
}

.tick {
    font-size: 10rem;
}