.bg {
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    width: 800px;
    height: 1200px;
}

.box-minh {
    min-height: 700px;
}

.bb-hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: #A1A1A1;
    height: 1px;
}